{% extends 'base.html.twig' %}

{% block title %}Museum-Aviator
{% endblock %}

{% block body %}

	<div class="homePageImage text-white">
		<h1 class="position relative">Museum-Aviator: la passion de l'aviation</h1>
		<img class="homePage position absolute" src="{{ asset('build/images/homePage.png') }}" alt=""/>
	</div>
</div>{% endblock %}
