{% extends 'base.html.twig' %}

{% block title %}Category
{% endblock %}

{% block body %}
	<h1>Category</h1>

	<table class="table">
		<tbody>
			{% for plane in planes %}
				<h2>
					<a href="{{ path("app_plane_show", { id: plane.id }) }}">{{ plane.model }}</a>
				</h2>
			{% else %}
				Pas de séries pour cette catégorie.
			{% endfor %}
		</tbody>
	</table>
	<div class="d-flex justify-content-center mt-3">
		<a class="btn bg-dark text-white mb-3 ms-3" href="{{ path('app_category_edit', {'id': category.id}) }}">edit</a>
	</div>
	<div class="d-flex justify-content-center mt-3">
		<a class="btn bg-dark text-white mb-3 ms-3" href="{{ path('app_category_index') }}">Back to list</a>
	</div>
{% endblock %}
