@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(231, 96, 18);
}

h1 {
    display: flex;
    justify-content: center;
}

h5 {
    font-size: 75%;
    display: flex;
    justify-content: center;
}

table {
    width: 75%;
}

button {
    margin-right: 20px;
}

.paragraphe {
    width: 50vw;
    background-color: red;
}

.h1Edit {
    margin-bottom: 50px;
}

.btn {
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    background-color: black;
    color: white;
}

.btnFoot {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 50px;
    font-size: 70%;
}

.footer {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

.imageFoot {
    width: 35px;
    height: 35px;
}

.navbar {
    color: red($color: #000000);
    background-color: rgb(7, 7, 7);
    align-items: center;
    justify-content: space-around;
}

.navlink {
    font-size: 120%;
    margin-left: 100px;
    margin-bottom: -20;
    align-items: center;

}

.logoImageNav {
    width: 195px;
    height: 145px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.logoImageFoot {
    width: 100px;
    height: 100px;
}

.homePageImgage {
    width: 100%;
    height: 100%;
}

.homePage {
    width: 100%;
    height: 100%;
}

.PlaneImage {
    width: 1000px;
    height: 300px;
}

.PlaneImageCatIndex {
    width: 100vw;
    height: 600px;
}

.imagePageList {
    width: 100vw;
    height: 600px;
}

.cleModif {
    width: 23px;
    height: 22px;
}

.btnDelete {
    display: flex;
    align-items: center;
}

.hide {
    display: none;
}


#d1 {
    background-color: black;
    width: 5%;
    color: white;
}

#p1 {
    width: 40%;
}