<div class="footer border-0 d-none d-md-block">
	<div class="row d-flex justify-content-around ">
		<div class="col-sm-4 d-flex  justify-content-center align-items-center">
			<div class="card-footer border-0 my-1 ms-4 d-flex justify-content-center">
				<div class="card-footer">
					<h5 class="card-title titleFooter text-white mb-2 ">Suivez en direct vos avions préférés:</h5>
					<ul class="d-flex text-white align-items-center">
						<a href="https://fr.flightaware.com/" class="btnFoot text-white">Flight Aware</a>
						<a href="https://www.flightradar24.com/51.5,-0.12/6" class="btnFoot text-white">Flight Radar</a>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-2 d-flex justify-content-center align-items-center mt-1 mb-1">
			<div class="card-footer border-0">
				<div class="card-footer text-white ">
					<img class="logoImageFoot" src="{{ asset('build/images/Museum-Aviator.jpeg') }}" alt=""/>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-2 d-flex justify-content-center align-items-center mt-1 mb-1">
		<div class="card-footer border-0">
			<div class="card-footer text-white">
				<ul>
					<a href="#" class="btnFoot text-white mt-2">Mentions Légales</a>
					<a href="#" class="btnFoot text-white mt-4">Contactez-nous</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-2 d-flex justify-content-center align-items-center">
		<div class="card-footer border-0 mt-1 mb-1">
			<div class="card-footer text-white">
				<h5 class="card-title">Suivez-nous:</h5>
				<a href="#" target="_blank"><img src="{{ asset('build/images/facebook.png') }}" class="m-1 mt-3 text-white" alt="F"/></a>
				<a href="#" target="_blank"><img src="{{ asset('build/images/instagram.png') }}" class="m-1  mt-3 text-white" alt="I"/></a>
			</div>
		</div>
	</div>
</div></div>
