<nav class="navbar navbar-expand-lg  tetx-white">
	<div class="container-fluid col-2 ms-5">
		<a
			class="navbar-brand" href="{{path('app_home')}}">
			{#<div id="logoNavbar"></div>#}
			<img class="logoImageNav" src="{{ asset('build/images/Museum-Aviator.jpeg') }}" alt=""/>
		</a>
	</div>
	<div class="collapse navbar-collapse my-5 d-flex justify-content-center">
		<div class="navbar-nav text-white d-flex">
			<a class="navlink active d-flex" aria-current="page" href="#"></a>
			<a class="navlink text-white d-flex justify-content-around mx-5 text-decoration-none" href="{{path('app_category_index')}}">Catégorie</a>
			<a class="navlink text-white d-flex justify-content-around mx-5 text-decoration-none" href="{{path('app_plane_index')}}">Tous les avions</a>
			<a class="navlink text-white d-flex justify-content-around mx-5 text-decoration-none">Historique</a>
		</div>
	</div>
</div></nav>
