<nav class="navbar navbar-expand-lg  tetx-white">
	<div class="container-fluid col-2 ms-5">
		<a class="navbar-brand" href="{{path('app_home')}}">
			<img class="logoImageNav" src="{{ asset('build/images/Museum-Aviator.jpeg') }}" alt=""/>
		</a>
	</div>
	<button class="navbar-toggler float-sm-start float-md-end bg-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav d-flex justify-content-center">
			<a class="navlink active d-flex" aria-current="page" href="#"></a>
			<a class="navlink text-white d-flex justify-content-around ms-3  text-decoration-none" href="{{path('app_category_index')}}">Catégories</a>
			<a class="navlink text-white d-flex justify-content-around ms-3 text-decoration-none" href="{{path('app_plane_index')}}">Tous les avions</a>
			<a class="navlink text-white d-flex justify-content-around ms-3 text-decoration-none">Historique</a>
		</div>
	</div>
</nav>
